$navbar: black;
$text-color: white;

.App {
  font-size: calc(1em + 1vmin);
  white-space: pre-line;
  text-size-adjust: auto;
  margin: 0px;
  padding: 0px;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 2vh;
    background-color: $navbar;
    height: 100px;

    @media only screen and (max-width: 1200px) {
      font-size: 2vh;
      flex-direction: column;
    }
  }

  div .navbar-title {
    color: $text-color;
    letter-spacing: 5px;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 600px;
    font-size: 2vw;
    @media only screen and (max-width: 1200px) {
      font-size: 2.5vh;
      flex-direction: column;
      text-align: center;
    }
  }

  li {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 300px;
    @media only screen and (max-width: 1200px) {
      //! Added several media queries for navbar
      font-size: 80%;
    }
  }
  a.nav-link {
    display: inline-block;
    text-decoration: none;
    color: $text-color;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    align-items: center;
    margin-right: 20px;

    // hover effects beginning
    position: relative;
    :before {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      bottom: 25%; // Underline effect position adjusted
      left: 0;
      top: 50;
      background-color: #003366;
      visibility: hidden;
      transition: all 0.4s ease-in-out;
    }
    :hover:before {
      visibility: visible;
      width: 100%;
    }
    @media only screen and (max-width: 1200px) {
      font-size: 1.5vh;
      flex-direction: column;
      text-align: center;
      margin-bottom: 80%;
    }
  }

  img.programming-image {
    min-height: 100%;
    min-width: 1200px;
    z-index: -1;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    .about-description {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      text-align: center;
      color: $text-color;
      bottom: 500px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .home-description {
    // Used for text written in Home.js
    text-align: center;
    position: absolute;
    top: 600px;

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
    font-family: sans-serif;
    color: $text-color;
    font-family: "Gentium Book Basic", serif;
    font-weight: 400;
    font-size: 4vw;
  }
  .gradient-description {
    text-align: center;
    color: #003366;
    font-size: 5vw;
  }
  .bolder-words {
    // Class selector with purpose to bold words in text
    font-weight: 800;
    font-size: 4vw;
  }
  .symbols {
    color: #003366;
  }
  .technologies-description {
    font-size: 80px;
    font-size: 4vw;
    text-align: center;
    margin-left: 30px;
    align-items: center;
  }
  .home-avatar {
    width: 200px;
    height: 200px;
    max-width: 100%;
    height: auto;
    @media only screen and (max-width: 1200px) {
      width: 100px;
      height: 100px;
    }
  }
  div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    i.fab.fa-github,
    .fab.fa-gitlab,
    .fab.fa-facebook {
      text-decoration: none;
      color: #003366;
      margin: 20px auto;
      font-size: 70px;
      @media only screen and (max-width: 1200px) {
        font-size: 35px;
      }
    }
  }

  //! About.js part
  .about-div {
    min-height: 800px;
    margin-left: 5%;
    .about-title {
      font-family: "Gentium Book Basic", serif;
      font-weight: 600px;
      margin-top: 10%;
      margin-left: auto;
    }
    .about-paragraph {
      font-family: "Gentium Book Basic", serif;
      font-weight: 600px;
      align-items: center;
      margin-left: auto;
    }
    .about-avatar {
      margin-top: 10%;
      float: left;
      width: 500px;
      height: 500px;
      margin-right: 5%;
    }
    a.nav-link::after {
      //! NOT WORKING NEEDS FIX
      color: $navbar;
    }
  }
}
