.App {
  font-size: calc(1em + 1vmin);
  white-space: pre-line;
  vertical-align: bottom;
  -webkit-text-size-adjust: auto;
     -moz-text-size-adjust: auto;
      -ms-text-size-adjust: auto;
          text-size-adjust: auto;
}

.App ul {
  width: 100%;
  height: 125px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 100%;
  min-width: 0;
  /* this one right here does it!*/
}

.App li {
  margin: 10px;
  margin-right: 30px;
}

.App .navbar-title {
  text-decoration: none;
  color: white;
  margin: 0 auto;
  margin-right: 310px;
  font-family: "Open Sans", sans-serif;
  font-size: 120%;
  font-weight: 800;
  text-align: left;
  position: relative;
  bottom: 15px;
}

.App .navbar-title :hover:before {
  all: initial;
}

.App .nav-link {
  text-decoration: none;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.App a {
  display: inline-block;
}

.App a :before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 25%;
  left: 0;
  top: 50;
  background-color: #003366;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.App a :hover:before {
  visibility: visible;
  width: 100%;
}

.App a i {
  visibility: visible;
  font-size: 10px;
  color: white;
}

.App img.programming-image {
  position: relative;
  width: 100%;
  height: 950px;
  background-position: center top;
  background-size: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.App img.programming-image .about-description {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.App .home-description {
  text-align: center;
  font-size: 50px;
  position: absolute;
  top: 560px;
  left: 90px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
  font-family: sans-serif;
  color: white;
  font-family: "Gentium Book Basic", serif;
  font-weight: 400;
  font-size: 5vw;
}

.App .gradient-description {
  text-align: center;
  font-size: 60px;
  color: #003366;
  font-size: 5vw;
}

.App .bolder-words {
  font-weight: 800;
  font-size: 5vw;
}

.App .symbols {
  color: #003366;
}

.App .technologies-description {
  font-size: 70px;
  bottom: 150px;
  font-size: 5vw;
  text-align: center;
  margin-left: 40px;
}

.App .home-avatar {
  width: 200px;
  height: 200px;
}

.App footer {
  width: 782px;
  height: 15%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  margin-top: 150px;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  bottom: 25px;
  margin-left: 135px;
  font-size: 50px;
  color: #003366;
}
/*# sourceMappingURL=App.css.map */